<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form method="post" action="/login">
      <label for "email">Enter Your Email: </label>
<<<<<<< HEAD
        <input type="text" id="username" name="username">
      <label for "password">Enter Your Password: </label>
          <input type="text" id="password" name="password">
      <input type="submit" id="submit" value="Log In">
    </form>
=======
        <input type="text" id="email" name="email">
      <label for "password">Enter Your Password: </label>
          <input type="text" id="password" name="password">
      <input type="submit" id="submit" value="Log In">
    </form>    
>>>>>>> c96fc72e2514dd9b8231d9db84f85888bc23598e
  </body>
</html>
